/* FOOTER START */
/* Footer */
footer {
    background-color: #2d3e50;
    color: white;
    padding: 20px 0;
    text-align: center;
    margin-top: 550px;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer-section {
    width: 30%;
    margin-bottom: 20px;
}

.footer-section h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.footer-section p {
    font-size: 16px;
    color: #aaa;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.footer-section ul li a:hover {
    color: #ffdd40;
}

.socials {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: white;
 
}

.socials a {
    color: rgb(251, 244, 244);
    font-size: 20px;
    margin: 0 10px;
    transition: color 0.3s;
}

.socials a:hover {
    color: #ffdd40;
}

.footer-bottom {
    margin-top: 20px;
    font-size: 14px;
    color: #aaa;
}

/* Responsive Design for Footer */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        width: 100%;
        text-align: center;
    }

    .footer-bottom {
        font-size: 12px;
    }
    

}